{# Зайка — маскот «Доброзал» #}
<div class="dz-mascot-wrap" data-dz-mascot-faces>
    <img class="dz-mascot-img"
         data-dz-mascot-img
         src="{{ dz_mascot_face_url('neutral') }}"
         alt=""
         aria-hidden="true"
         decoding="async">
</div>
