{# Зайка — маскот «Доброзал» (лицо по настроению тура) #}
<div class="dz-mascot-wrap" data-dz-mascot-faces>
    <img class="dz-mascot-img"
         data-dz-mascot-img
         src="/img/mascot/zalka-neutral.png"
         width="140"
         height="140"
         alt=""
         aria-hidden="true"
         decoding="async">
</div>
