=== 1 ===
C: Компания зарегистрирована в реестре операторов на сайте РКН.
F: Предоставить регистрационный номер Компании в реестре РКН и/или URL-адрес на карточку Компании в Реестре РКН.

=== 2 ===
C: Разработана и утверждена Политика компании в отношении обработки ПДн.
F: Предоставить скан-копию Политики и/или URL-адрес на размещённую Политику на сайте Компании.

=== 3 ===
C: Проведена оценка вреда, который может быть причинен субъектам ПДн в случае нарушения законодательства о ПДн.
F: Предоставить скан-копию/выписку из локального документа, отражающего результаты проведения оценки вреда, который может быть причинен субъектам ПДн в случае нарушения законодательства о ПДн.

=== 4 ===
C: Определены уровни защищенности ПДн, обрабатываемых в ИСПДн в которых предполагается обработка ПДн полученных от Банка.
F: Представить скан-копию(и) локального(ых) документа(ов), подтверждающего(их) определение Компанией уровней защищенности ПДн.

=== 5 ===
C: Обеспечена запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение ПДн граждан РФ, полученных от Банка, с использованием баз данных, находящихся на территории РФ.
F: Представить документы, подтверждающие выполнение требований по локализации БД, к таким документам могут относиться:
- скан-копия договора на приобретение серверных мощностей;
- скан-копия выписки из бухгалтерского баланса (справка о постановке на бухгалтерский учет);
- скан-копия договора, заключенного с хостинг-провайдером, в условиях которого указана обязанность провайдера по локализации БД;
- описание процесса обработки ПДн с использованием серверных мощностей (блок-схема размещения рабочих мест).

*документы предоставляются без указания коммерческой информации и ПДн работников

=== 6 ===
C: Определен порядок уточнения (актуализации), блокирования, прекращения обработки и уничтожения ПДн которые будут получены от Банка.
F: Предоставить скан-копию локального документа, подтверждающего определение Компанией порядка уточнения (актуализации), блокирования, прекращения обработки и уничтожения ПДн.

=== 7 ===
C: Используется АВПО с централизованным управлением и производится своевременное обновление АВПО.
F: Предоставить свидетельства легитимного использования АВПО и скриншоты центра управления\обновления.

=== 8 ===
C: Установлены актуальные обновления безопасности для ОС и ППО.
F: Предоставить скриншоты центра управления обновлениями (при наличии такого центра) или скриншоты установленных обновлений на текущую дату.

=== 9 ===
C: Утверждена процедура реагирования на инциденты КБ, в т.ч. ведется учет инцидентов КБ.
F: Представить реквизиты и утвержденные внутренние документы (выдержки из документов) регламентирующих процедуру реагирования на инциденты КБ и учет инцидентов КБ.

=== 10 ===
C: Утверждены правила межсетевого экранирования и политики по их изменению.
F: Представить реквизиты и утвержденные внутренние документы (выдержки из документов) регламентирующих правила межсетевого экранирования и политики по их изменению.

=== 11 ===
C: Установлены межсетевые экраны на периметре сети Компании.
F: Предоставить сетевую схему ЛВС Компании.

=== 12 ===
C: Утверждены правила удаленного доступа к корпоративной сети (при наличии удаленного доступа).
F: Представить реквизиты и утвержденные внутренние документы (выдержки из документов) регламентирующих процедуру предоставления удаленного доступа к корпоративной сети.

=== 13 ===
C: Назначено должностное лицо, ответственное за организацию обработки ПДн.
F: Предоставить скан-копию Приказа/Распоряжения о назначении лица ответственного за организацию обработки ПДн.

=== 14 ===
C: Разработаны локальные акты по вопросам обработки ПДн, а также локальные акты, устанавливающие процедуры, направленные на предотвращение и выявление нарушений законодательства РФ, устранение последствий таких нарушений.
F: Предоставить скан-копии локальных документов, отражающих вопросы обработки ПДн в Компании, а также устанавливающих процедуры, направленные на предотвращение и выявление нарушений законодательства РФ, устранение последствий таких нарушений.

=== 15 ===
C: Разработаны и утверждены правила доступа работников к обработке ПДн в ИСПДн, в том числе к тем ИСПДн, в которых будут обрабатываться ПДн полученные от Банка
F: Предоставить скан-копии локальных документов, закрепляющих правила доступа работников к обработке ПДн в ИСПДн, в том числе к тем ИСПДн, в которых будут обрабатываться ПДн полученные от Банка.

=== 16 ===
C: Проводится ознакомление работников, непосредственно осуществляющих обработку ПДн с положениями законодательства РФ о ПДн, в том числе требованиями к защите ПДн, документами, определяющими Политику компании в отношении обработки ПДн, локальными актами по вопросам обработки ПДн.
F: Предоставить документарное подтверждение ознакомления работников с положениями законодательства РФ о ПДн, документами Компании по вопросам обработки ПДн.

=== 17 ===
C: С работниками, имеющими доступ к ПДн подписываются обязательства о неразглашении КИ и ПДн.
F: Предоставить скан-копию подписанного обязательства о неразглашении КИ и ПДн без указания ПДн работника (в затушеванном виде).

=== 18 ===
C: С работниками, имеющими доступ к ПДн подписаны должностные инструкции в которых определены обязанности по обработке и защите ПДн, а также ответственность за нарушение правил обработки и защиты ПДн.
F: Представить скан-копию подписанной должностной инструкции без указания ПДн работников (в затушеванном виде).

=== 19 ===
C: Определены актуальные угрозы безопасности ПДн при их обработке в ИСПДн в которых предполагается обработка ПДн полученных от Банка
F: Предоставить скан-копию/выписку из локального документа, подтверждающего определение Компанией актуальных угроз безопасности ПДн при их обработке в ИСПДн.

=== 20 ===
C: Организован и осуществляется контроль за принимаемыми мерами по обеспечению безопасности ПДн и уровня защищенности ИСПДн.
F: Представить скан-копии локальных документов, подтверждающих организацию и осуществление контроля за принимаемыми мерами по обеспечению безопасности ПДн и уровня защищенности ИСПДн.

=== 21 ===
C: Организован режим по обеспечению безопасности помещений, в которых будут размещены ИСПДн и в которых предполагается обработка ПДн полученных от Банка.
F: Представить скан-копии локальных документов, подтверждающих организацию режима по обеспечению безопасности помещений, в которых будут размещены ИСПДн и в которых предполагается обработка ПДн полученных от Банка.

=== 22 ===
C: Определены и реализованы организационные и технические меры по обеспечению безопасности ПДн,  при их обработке в ИСПДн, необходимые для обеспечения установленного уровня защищенности ПДн, в том числе требования по КБ, перечисленные далее в настоящей Анкете.
F: Представить скан-копии документов, подтверждающих определение и реализацию организационных и технических мер по обеспечению безопасности ПДн,  при их обработке в ИСПДн, необходимые для обеспечения установленного уровня защищенности ПДн, в том числе требования по КБ.

=== 23 ===
C: Назначено лицо ответственное за КБ и определены его функции, обязанности и права.
F: Представить скан-копии документов о назначении лица, ответственного за КБ и определяющие его функции, обязанности и права.

=== 24 ===
C: Разработана и внедрена парольная политика.
F: Представить реквизиты и утвержденные внутренние документы (выдержки из документов) определяющих парольную политику. 

=== 25 ===
C: Утвержден базовый набор ВНД в области КБ (положения, регламенты, инструкции, схемы процессов и т.п.).
F: Представить перечень утверженных ВНД в области КБ.

=== 26 ===
C: Разработана архитектура IT (например, в виде базовой сетевой схемы).
F: Предоставить утвержденную архитектурную схему ИТ-инфраструктуры Компании или соответствующий ВНД.

=== 27 ===
C: Внедрены инструменты для управления личными устройствами и съемными носителями информации.
F: Представить реквизиты и утвержденные внутренние документы (выдержки из документов) регламентирующих использование инструментов для управления личными устройствами и съемными носителями информации.

=== 28 ===
C: Используются технические средства для предотвращения утечек данных.
F: При наличии DLP-системы - предоставить свидетельства легитимного ее использования и скриншоты центра управления, при отсутствии - скриншоты настроек ТСЗИ, используемых для предотвращения утечки данных.

=== 29 ===
C: Утвержден перечень разрешенного и/или запрещенного ПО.
F: Предоставить перечень разрешенного и/или запрещенного ПО.

=== 30 ===
C: Удаленный доступ разрешен только с устройств, соответствующих требованиям безопасности.
F: Представить реквизиты и утвержденные внутренние документы (выдержки из документов) регламентирующих процедуру предоставления удаленного доступа к корпоративной сети.

=== 31 ===
C: Беспроводные сети построены с использованием защищенных протоколов и стандартов (WPA2x).
F: Представить реквизиты и утвержденные внутренние документы (выдержки из документов) регламентирующих настройки беспроводных сетей, скриншоты центра управления беспроводным оборудованием (при наличии такого центра).
